/**
 * 格式化日期显示
 */
function formatDate(date) {
  if (!date) return '';
  
  var d = getDate(date);
  var year = d.getFullYear();
  var month = d.getMonth() + 1;
  var day = d.getDate();
  
  // 补零
  if (month < 10) month = '0' + month;
  if (day < 10) day = '0' + day;
  console.log("test")
  console.log(date)
  console.log(typeof date)
  console.log(d)
  return year + '-' + month + '-' + day;
}

/**
 * 格式化状态显示
 */
function formatStatus(status) {
  return status == 0 ? '未结算' : '已结算';
}

module.exports = {
  formatDate: formatDate,
  formatStatus: formatStatus
};